<% layout('layouts/boilerplate')%>
    <div class="container">
        <h1>
            Your Order was confirmed! &#10003 &#10003 &#10003
        </h1>
        <div class="pt-5">
            <form action="/books">
                <button class="btn btn-danger">

     
    Back to main page!
</button>
            </form>
        </div>

    </div>